
Temp/UnityLockfile
Library/PlayerDataCache/Win/Data/sharedassets1.assets.resS
Library/PlayerDataCache/Win/Data/sharedassets1.assets.resS
Library/PlayerDataCache/OSXUniversal/Data/sharedassets1.assets.resS
